<div class="menu-and-languages">
    <menu class="menu-container">
        <ul class="menu h3">
            {% for entry in menu %}
                {% if entry.hide %}
                {% elif entry.external %}
            <li><a href='{{entry.link}}' target="{{entry.target}}">{{entry.name[lang]}}</a></li>
                {% else %}
                <li><a href='{{root}}/{{lang}}/{{entry.content}}/index.htm'>{{entry.name[lang]}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </menu>
    <div class="languages-container">
        {% for l in languages %}
        <p><a href='{{root}}/{{l}}'>{{l}}</a></p>
        {% endfor %}
    </div>
</div>
