<!DOCTYPE html>
<html>
    {% include "../head.htm" %}
    <body>
        {% include "../header.htm" %}
        <section class="flex w-full h-full">
            <div class="lg:w-1/5 w-1/4">
                {% include "../sidebar.htm" %}
            </div>
            <section class="flex-grow w-full h-full">
                <div class="p-12">
                    {{content.content | safe}}
                </div>
            </section>
        </section>
    </body>
    {% include "../scripts.htm" %}
</html>
